<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071438653042-p83oenp36ham1eo6qd3t5jr1qk7ttlce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071438653042-p83oenp36ham1eo6qd3t5jr1qk7ttlce</string>
	<key>API_KEY</key>
	<string>AIzaSyCWeTRVnftb3NUfHI4X20r3R7NVLEFIdLU</string>
	<key>GCM_SENDER_ID</key>
	<string>1071438653042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ersultan.EcommerceAppKit</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-817ac</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-817ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071438653042:ios:32df844a152f7a486284eb</string>
</dict>
</plist>